[BEGINVDF]

; Do not use this file - run 'just build' instead

[FILES]
; Resources (list the specific files from _work here)
_work\* -r

; Script files
Ninja\G1CP\* -r

[EXCLUDE]
placeholder
_work\Data\Scripts\* -r
*.vm
*.vdf
*.bat
.*

[INCLUDE]

[ENDVDF]
