[BEGINVDF]

; Do not use this file - run make instead

[FILES]
; Resources (list the specific files from _work here)
_work\* -r

; Script files
Ninja\G1CP\* -r

[EXCLUDE]
_work\Data\Scripts\* -r
Ninja\G1CP\TestsuiteDev.src
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
